[submodule "third-party/clang-format-all"]
	path = third-party/clang-format-all
	url = https://github.com/eklitzke/clang-format-all.git
[submodule "third-party/spdlog"]
	path = third-party/spdlog
	url = https://github.com/gabime/spdlog.git
