[submodule "third-party/clang-format-all"]
	path = third-party/clang-format-all
	url = https://github.com/eklitzke/clang-format-all.git
[submodule "third-party/spdlog"]
	path = third-party/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "third-party/CLI11"]
	path = third-party/CLI11
	url = https://github.com/CLIUtils/CLI11.git
[submodule "third-party/TPCircularBuffer"]
	path = third-party/TPCircularBuffer
	url = https://github.com/michaeltyson/TPCircularBuffer
[submodule "third-party/deferral"]
	path = third-party/deferral
	url = https://github.com/justusc/deferral.git
